/* Dial styles */
.dial-background,
.dial-circle,
#dial-demo {
    background: linear-gradient(to bottom, #f5f5f5 50%, #eaeaea 50%);
}

.dial-background,
.dial-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dial-circle {
    cursor: grab;
    touch-action: none;
    outline: 1px solid rgba(128, 128, 128, 0);
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(0deg);
}

.dial-circle:active {
    cursor: grabbing;
}

.dial-markers {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
}

.dial-markers span {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #262626;
    border-radius: 50%;
    pointer-events: none;
}

/* Marker positions */
.dial-markers span:nth-child(1) {
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
}

.dial-markers span:nth-child(2) {
    left: 20%;
    top: 20%;
}

.dial-markers span:nth-child(3) {
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
}

.dial-markers span:nth-child(4) {
    right: 20%;
    top: 20%;
}

.dial-markers span:nth-child(5) {
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
}

.dial-line {
    position: absolute;
    width: 200px;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgba(0, 0, 0), rgba(0, 0, 0, 0.1));
    pointer-events: none;
    z-index: 1;
} 